



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
font-size: 20px;
background-color: #fff;
font-family: Lato,sans-serif;
font-weight: 300;
text-rendering: optimizeLegibility;
overflow-x: hidden;
scroll-behavior: smooth;
}

nav{
    background-color: #2C3E50;
    
}


.navbar-brand{
    font-weight: 600;
    color: #fff;
    padding: 24px;
    margin: 0 20px 0 0;

}




.navbar-brand:hover,.navbar-brand:active{
    color: #fff;
}

.navbar-brand:link,.navbar-brand:visited{
    color: #fff;
}

button.navbar-toggler{
    font-size: 30px;
}


#navmenu{
    color: #fff;
    font-weight: 600;
}



#navmenu:hover,#navmenu:active{
    color: #5f7892;
}
header{
    background-color: #627c96;
    background-size: cover ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


#avatar{
    border-radius: 50%;
    image-resolution:inherit ;
    max-width: 100%;
    height: auto;

    }


header h1{
    font-weight: 700;
}


#heading1{
    color:#133964;
    font-weight: 700;
}


.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
  
  .divider-custom.divider-light #line{
    background-color: #2c3e50;
  }

  .divider-custom.divider-light #icon{
    color: #2C3E50;
  }


  #btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    border-radius: 50%;
    

  }
